.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper_main {
    display: flex;

    gap: 20px;
    margin-top: 50px;
}

.results_btn {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    background-color: chocolate;
    font-weight: bolder;
    cursor: pointer;
}
.results_btn:hover {
    background-color: #e5a478;
}
